*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.text--normal{
    font-size: 16px;
}

.text--small{
    font-size: 14px;
}

/* header */

nav {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 32px;
}

.nav--left {
    padding-left: 24px;
    height: 32px;
    display: flex;
    align-items: center;
}

.nav--left span {
    color: #4a4a4a;
}

.nav--left strong {
    color: black;
}

.nav--right ul{
    padding-right: 24px;
    display: flex;
    gap: 16px;
}

.nav--mobile {
    /*hide for web*/
    display: none;
}

/* hero */

.hero {
    display: flex;
    background-color: #d8d8d8;
    color: #4a4a4a;

}

.hero--left {
    width: 60%;
    padding: 32px 24px;
}

.hero--left img {
    width: 100%;
}

.hero--right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero button {
    padding: 8px 0;
    background-color: #4a4a4a;
}

.hero button a {
    color: white;
}

/* information */

.information {
    display: flex;
}

.information--left {
    width: 60%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:1px solid #d8d8d8;
}

.information--left img {
    width: 100%;
    padding-bottom: 32px;
}

.info--left--text {
    padding: 24px 0;
}

.information--right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.information--box {
    display: flex;
    padding: 16px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.information--image {
    width: 35%;
}

.information--image img {
    width: 100%;
}

.information--text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    gap: 8px;
}

.information--text a {
    color: cornflowerblue;
}