*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.text--normal{
    font-size: 16px;
}

.text--small{
    font-size: 14px;
}

h2 {
    font-weight: 700;
}

/* header */

nav {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 32px;
}

.nav--left {
    padding-left: 24px;
    height: 32px;
    display: flex;
    align-items: center;
}

.nav--left span {
    color: #4a4a4a;
}

.nav--left strong {
    color: black;
}

.nav--right ul{
    padding-right: 24px;
    display: flex;
    gap: 16px;
}

.nav--mobile {
    /*hide for web*/
    display: none;
}

/* hero */

.hero {
    display: flex;
    background-color: #d8d8d8;
    color: #4a4a4a;

}

.hero--left {
    width: 60%;
    padding: 32px 24px;
}

.hero--left img {
    width: 100%;
}

.hero--right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero--right p{
    font-size: 20px;
}

.hero button {
    padding: 8px 0;
    background-color: #4a4a4a;
}

.hero button a {
    color: white;
}

/* information */

.information {
    display: flex;
}

.information--left {
    width: 60%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:1px solid #d8d8d8;
}

.information--left img {
    width: 100%;
    padding-bottom: 32px;
}

.info--left--text {
    padding: 24px 0;
}

.information--right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.information--box {
    display: flex;
    padding: 16px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.information--image {
    width: 35%;
}

.information--image--mobile {
    display: none;
}

.information--image img {
    width: 100%;
}

.information--text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    gap: 8px;
}

.information--text a {
    color: cornflowerblue;
}

/* course */

.course {
    background-color: lavender;
}

.course h2 {
    padding: 32px 0;
    text-align: center;
}

.course--grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 0 72px 32px;
}

.course--grid--box {
    background-color: white;
    padding-bottom: 24px;
}

.course--grid--box img{
    width: 100%;
}

.course--grid--box h4 {
    padding: 16px;
}

.course--grid--box p {
    padding: 8px 16px 0px;
}

/* thesis */

.thesis{
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 32px;
}

.thesis--mobile{
    display: none;
}

.thesis h2{
    padding: 32px 0;
    text-align: center;
}

.thesis--info{
    display: flex;
}

.thesis--left h4{
    padding: 0 24px 8px;
}

.thesis--left p {
    padding-left: 24px;
}

.thesis--left{
    width: 60%;
    border-right:1px solid #d8d8d8;
}

.thesis--left video{
    width: 100%;
    padding: 0 24px 24px;
}

.thesis--right{
    width: 40%;
}

.thesis--box--top{
    background-color: gainsboro;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 0;
    height: 72px;
}

footer p, footer a {
    color: #4a4a4a;
    font-size: 12px;
}

.footer--right ul{
    display: flex;
    gap: 16px;
}

/* mobile site let go*/

@media screen and (max-width: 768px) {
    .nav--left, .nav--right{
        display: none;
    }

    .nav--mobile {
        width: 100%;
        display: block;
    }

    .nav--mobile ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .hero {
        flex-direction: column;
        justify-content: start;
    }

    .hero--left{
        padding: 0;
        width: 100%;
    }

    .hero--right{
        width: 100%;
        gap:0;
        padding: 32px 16px;
    }

    .hero p{
        padding: 32px 0 24px;
    }

    .information ,.information--right{
        width: 100%;
    }

    .information--left, .information--image {
        display: none;
    }

    .information--box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .information--image--mobile {
        display: inline;
        width: 100%;
    }

    .information--image--mobile img {
        width: 100%;
        padding-bottom: 16px;
    }

    .information--text{
        width: 100%;
    }

    .information--text--mobile--notlast{
        padding-bottom: 32px;
    }

    .information--text--mobile--last{
        padding-bottom: 16px;
    }

    .course{
        background-color: whitesmoke;
        border-bottom: 2px solid #d8d8d8;
    }
    
    .course h2{
        padding: 32px 0 16px;
    }

    .course--grid{
        grid-template-columns: 1fr;
        padding: 0 16px 32px;
        gap: 8px;
    }

    .course--grid--box img, .course--grid--box p{
        display: none;
    }

    .course--grid--box {
        padding: 16px 16px 24px;
        background-color: gainsboro;
    }

    .course--grid--box h4 {
        padding: 0;
        font-size: 20px;
    }

    .thesis {
        padding: 0 0 24px;
        width:100%;
        background-color: whitesmoke;
    }

    .thesis--left , .thesis--right {
        display: none;
    }

    .thesis h2{
        padding: 32px 0 16px;
    }

    .thesis--mobile{
        display:inline;
        width: 100%;
    }

    .thesis--mobile video{
        width: 100%;
    }

    footer{
        height: auto;
        padding:16px;
    }

    .footer--right{
        display: none;
    }
}